# Name : Sujit Bhausaheb Jamdade

## Assignment No : Day 05

## Question 1 :
Write a Python program to find the first 20 non-even prime natural numbers.

In [1]:
# Program to find the first 20 non-even prime nos.
count = 0
i = 1
while count < 20:
    i = i + 1
    if i%2 ==1:
        factor_count = 0
        for j in range(1,i+1):
            if i%j == 0:
                factor_count = factor_count + 1
        if factor_count < 3:
            print(i,"is the prime no.")
            count = count + 1

3 is the prime no.
5 is the prime no.
7 is the prime no.
11 is the prime no.
13 is the prime no.
17 is the prime no.
19 is the prime no.
23 is the prime no.
29 is the prime no.
31 is the prime no.
37 is the prime no.
41 is the prime no.
43 is the prime no.
47 is the prime no.
53 is the prime no.
59 is the prime no.
61 is the prime no.
67 is the prime no.
71 is the prime no.
73 is the prime no.

## Question 2 :
Write a Python program to implement 15 functions of string.

In [2]:
my_str = 'i love to Play Cricket'
print(type(my_str))
print(my_str)

<class 'str'>
i love to Play Cricket

In [5]:
my_str.capitalize()

'I love to play cricket'

In [6]:
my_str.upper()

'I LOVE TO PLAY CRICKET'

In [7]:
my_str.lower()

'i love to play cricket'

In [8]:
my_str.swapcase()

'I LOVE TO pLAY cRICKET'

In [9]:
my_str.title()

'I Love To Play Cricket'

In [10]:
my_str.find('Play')

10

In [11]:
my_str.endswith('Cricket')

True

In [12]:
my_str.endswith('india')

False

In [13]:
my_str.startswith('i')

True

In [14]:
my_str.startswith('love')

False

In [15]:
a= "India"
a.isalpha()

True

In [16]:
a= "India "
a.isalpha()

False

In [17]:
a= "123"
a.isdigit()

True

In [18]:
a= "india "
a.islower()

True

In [19]:
a= " "
a.isspace()

True

In [20]:
a= 'I Love To Play Cricket'
a.istitle()

True

In [21]:
a= 'I LOVE TO PLAY CRICKET'
a.isupper()

True

In [22]:
a= 'i love to play cricket'
a.islower()

True

In [23]:
a= 'i love To plAy cricket'
a.center(50,'-')

'--------------i love To plAy cricket--------------'

In [24]:
a.replace('cricket', 'tenis')

'i love To plAy tenis'

## Question 3:
Write a Python program to check if the given string is a Palindrome or Anagram or None of them.
Display the message accordingly to the user.

In [32]:
def Anogram_func(str_1,str_2):
    if (sorted(str_1)==sorted(str_2)):
        print(str_1, "is Anogram with", str_2)
    else:
        print(str_1, "is not Anogram with", str_2)
        
def Palindrom_func(s1):
    s2=s1[::-1]
    if s1==s2:
        print(s1,"is a palindrome")
    else:
        print(s1,"is not a palindrome")
            

Anogram_func("sujit","jitsu")  
Anogram_func("sujit","Ajit") 
Palindrom_func("malayalam")
Palindrom_func("Jamdade")

sujit is Anogram with jitsu
sujit is not Anogram with Ajit
malayalam is a palindrome
Jamdade is not a palindrome

## Question 4:
Write a Python's user defined function that removes all the additional characters from the string
and converts it finally to lower case using built-in lower(). eg: If the string is "Dr. Darshan Ingle
@AI-ML Trainer", then the output be "drdarshaningleaimltrainer".

In [22]:
def remove_additional_characters(str1):
    str2=[]
    
    lst_1 =[]
    a=65
    b=97
    
    while (a>=65 and a<=90) and (b>=97 and b<=122):
        lst_1.append(chr(a))
        lst_1.append(chr(b))
        a=a+1
        b= b+1
    for i in str1:
        if i in lst_1:
             str2.append(i)
        elif i in lst_1:
            str2.append(i)
    print(str2)
remove_additional_characters("123Sujit@")

['S', 'u', 'j', 'i', 't']

In [26]:
bad_chars = [';'," ", ':', '!', "*","#","@","$","%","&","*","(",")","-","_","^","+","=","/","?","<",">",",","."] 
  
# initializing test string  
test_string = "Dr. Darshan Ingle @AI-ML Trainer"
  
# printing original string  
print ("Original String : " + test_string) 
  
# using join() + generator to  
# remove bad_chars  
test_string = "".join(i for i in test_string if not i in bad_chars) 
  
# printing resultant string  
print ("Resultant list is : " + str.lower(test_string))

Original String : Dr. Darshan Ingle @AI-ML Trainer
Resultant list is : drdarshaningleaimltrainer